# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/
DerivedData/
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcuserstate
*.xccheckout
*.moved-aside

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store
*.swp
.AppleDouble
.LSOverride
Icon?
._*

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Sensitive
*.env
*.pem
Secrets.swift

# Archives
*.ipa
*.dSYM.zip
*.dSYM

# Xcode Cloud
ci_scripts/ci_post_clone.sh
